doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Vanilla Default Page
        link(rel="stylesheet", href="styles/index.css")
    body 
        main
            h1 Welcome to VanillaType
            h2 
                | A hybrid website generator that provides the tools to create fast, efficient, and eloquent websites
            a(href="about/" client) About
            a(href="/") Home
            section
                p  Edit views/index.pug in your project directory and refresh this page to make changes
            script(type="module" src="scripts/lib/vanillatype.js")